# General
.DS_Store
node_modules/
/dist/
/build/
/logs/
*.log
*.cache

# Environment files
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sql
*.sqlite

# Jupyter Notebook
.ipynb_checkpoints

# Frontend/build files
/frontend/build/
/public/
*.bundle.js
*.map

# Heroku
/heroku_output
*.local

# Virtual Environment
venv/
*.venv
*.virtualenv

# IDE specific
.vscode/
.idea/
*.swp
*sublime-project
*sublime-workspace

# Node.js
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Babel cache
.babel.json
.babel.*

# MacOS Files
.DS_Store

# Misc
*.sass-cache
.cache
*.log
*.tmp
tmp/
